* {
  box-sizing: border-box;
  font-family: Lota, sans-serif;
  text-align: center;
}

section {
  background-color: #0199dc;
  display: flex;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

h3 {
  font-size: 23px;
  font-weight: normal;
  margin: 0 5px;
}

h2,
h3 {
  color: white;
}

p {
  color: lightyellow;
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 1.3;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.row {
  display: flex;
  align-items: center;
  align-content: space-between;
}

div.column-third {
  background-color: white;
  padding: 30px;
  margin: 18px 60px;
  border-radius: 50%;
}

.text {
  flex-basis: 50%;
  margin: 15px 20px;
  padding: 1px;
}

img {
  width: 100%;
}
