button {
  box-sizing: border-box;
  font-size: 23px;
  margin: auto;
  padding: 15px 40px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th {
  color: white;
  background-color: black;
}
