* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 32rem;
  margin: 0 0.4rem;
}

.price {
  background-color: #fff1e7;
}

p {
  margin-bottom: 0;
  text-align: start;
}

img {
  height: 30rem;
}
