.accordion {
  border: 1px solid #ccc;
}

.accordion-header {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease-in-out;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-header:focus {
  outline: none;
}
